<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/114da55d37.js" crossorigin="anonymous"></script>
    <!-- Css -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Crafsy</title>
</head>
<body class="home">
    <header>
        <div class="top">
            <div class="logo">
                <img src="/images/logo.png" alt="">
            </div>
            <div class="burger">
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="">Smartphones</a></li>
                <li><a href="">Tablets</a></li>
                <li><a href="">Computadoras</a></li>
            </ul>
            <ul>
                <li><a href="">Login</a></li>
                <li><a href="">Registro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <article>
                <div class="img_producto">
                    <img src="/images/img-phone-1.jpg" alt="">
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a href="">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <img src="/images/img-phone-02.jpg" alt="">
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a href="">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <img src="/images/img-phone-03.jpg" alt="">
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a href="">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <img src="/images/img-phone-1.jpg" alt="">
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a href="">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <img src="/images/img-phone-02.jpg" alt="">
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a href="">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <img src="/images/img-phone-03.jpg" alt="">
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a href="">ver mas</a>
            </article>
        </section>
        <aside>
            <section>
                <h2>Tutoriales</h2>
                <article>
                    <div>
                        <img src="/images/aside-01.jpg" alt="">
                    </div>
                    <p>Titulo de tutorial de reparacion</p>
                </article>
                <article>
                    <div>
                        <img src="/images/aside-02.jpg" alt="">
                    </div>
                    <p>Titulo de tutorial de reparacion</p>
                </article>
                <article>
                    <div>
                        <img src="/images/aside-03.jpg" alt="">
                    </div>
                    <p>Titulo de tutorial de reparacion</p>
                </article>
                <article>
                    <div>
                        <img src="/images/aside-04.jpg" alt="">
                    </div>
                    <p>Titulo de tutorial de reparacion</p>
                </article>
            </section>
            <section>
                <h2>Publicidad</h2>
                <div>
                    <a href="">
                        <img src="/images/ad-01.jpg" alt="add01">
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="/images/ad-02.jpg" alt="add02">
                    </a>
                </div>
            </section>
        </aside>
    </main>
</body>
</html>