<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/1a451b1708.js" crossorigin="anonymous"></script>
    <!-- Css -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Register</title>
</head>
<body class="register">
    <header>
        <div class="top">
            <div class="logo">
                <img src="/images/logo.png" alt="">
            </div>
            <div class="burger">
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <nav>
            <ul class="">
                <li><a href="">Smartphones</a></li>
                <li><a href="">Tablets</a></li>
                <li><a href="">Computadoras</a></li>
            </ul>
            <ul class="">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Registro</h1>
        <form action="" method="get">
            <div class="container">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" placeholder="Ingresa tu nombre" required>
                <small>Obligatorio</small>
            </div>
            <div class="container">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Ingresa tu email">
                <small>Obligatorio</small>
            </div>
            <div class="container">
                <label for="pass">Contraseña</label>
                <input type="password" name="pass" id="pass" placeholder="Ingresa tu Contraseña">
                <small>Obligatorio</small>
            </div>
            <div class="container">
                <label for="pass2">Confirma tu contraseña</label>
                <input type="password" name="pass2" id="pass2" placeholder="Confirmar Contraseña">
                <small>Obligatorio</small>
            </div>
            <h2>Pais de nacimiento</h2>
            <div>
                <select name="pais" id="pais">
                    <option value="" selected hidden >Selecciona una opcion</option>
                    <option value="argentina" >Argentina</option>
                    <option value="brasil">Brasil</option>
                    <option value="chile">Chile</option>
                    <option value="colombia">Colombia</option>
                    <option value="uruguay">Uruguay</option>
                </select>
                <small>Obligatorio</small>
            </div>
            <h2>Genero</h2>
            <div>
                <input type="radio" name="Genero" id="F" value="F">
                <label for="F">Femenino</label>
                <input type="radio" name="Genero" id="M" value="M">
                <label for="M">Masculino</label>
                <input type="radio" name="Genero" id="SN" value="SN">
                <label for="SN">Prefiero no decirlo</label>
            </div>
            <h2>Hobbies</h2>
            <div>
                <input type="checkbox" name="Hobbies" id="Guitarra" value="Guitarra">
                <label for="Guitarra">Guitarra</label>
                <input type="checkbox" name="Hobbies" id="Fut" value="Futbol">
                <label for="Fut">Futbol</label>
                <input type="checkbox" name="Hobbies" id="T" value="Tenis">
                <label for="T">Tenis</label>
                <input type="checkbox" name="Hobbies" id="Pr" value="Programacion">
                <label for="Pr">Programacion</label>
                <input type="checkbox" name="Hobbies" id="JJ" value="Juga">
                <label for="JJ">Juga jueguito</label>
                <input type="checkbox" name="Hobbies" id="Leer" value="Leer">
                <label for="Leer">Leer</label>
                <input type="checkbox" name="Hobbies" id="D" value="Dormir">
                <label for="D">Dormir</label>
                <input type="checkbox" name="Hobbies" id="Favorito" value="Estudiar">
                <label for="Favorito">Estudiar</label>
            </div>
            <h2>Dejanos tus comentarios</h2>
            <textarea name="comentarios" id="comentarios" cols="30" rows="10">Escribi aca tus comentarios</textarea>
            <input type="checkbox" name="terminos" id="terminos">
            <label for="terminos">Acepto los terminos y condiciones</label>

            <!-- botones -->
            <h2>Boton enviar con etiquetas input</h2>
            <input type="button" value="submit" submit>
            <input type="button" value="reset" reset>
            <h2>Boton enviar con etiquetas button</h2>
            <button type="submit">Enviar</button>
            <button type="reset">Reiniciar</button>
        </form>
    </main>
</body>
</html>